*{
    margin: 0;
    padding: 0;
}
body{
background-image: url("Target/image/Abstract-Website-Background.jpg");
background-size: cover;
}

.ip1{
   position: absolute;
   left: 100px;
   top: 100px;
   border:none;
   padding: 10px;

}
.ip2{
    position: absolute;
    left: 100px;
    top: 160px;
    border: none;
    padding: 10px;
}
.bt1{
    position: absolute;
    top:220px;
    left: 150px;
    padding: 10px;
    color: white;
   border-radius: 7px;
   border: none;
    background-color: blue;
    font-weight: bold;
}
.box{
    position: absolute;
    right: 400px;
    height: 300px;
    width: 400px;
    box-sizing: border-box;
    background-color: aqua;
    bottom: 200px;
    border-radius: 10px;
}
h1{
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
 padding-left: 130px;
}