
body {
    background-color: #000;
}
.stopwatch-container{
    box-sizing: border-box;
    border: 8px solid red;
}

.stopwatch-time {
    text-align: center;
    color: #fff;
    font-size: 80px;
}

.stopwatch-buttons {
    display: flex;
    justify-content: center;
}

.stopwatch-buttons button {
    margin: 20px;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    color: #fff;
    border-radius: 7px ;
}

.stopwatch-buttons button:first-child {
    background-color: green;
}

.stopwatch-buttons button:last-child {
    background-color: red;
}
